
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
@import "node_modules/materialize-css/sass/materialize";

header, main, footer {
    padding-left: 300px;
}
#btn_show_sidebar{
    display:none;
}

@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
    }
    #btn_show_sidebar{
        display: inline-block;
    }
}